[unix_http_server]
file=/var/run/supervisor.sock                       ; path to your socket file

;[inet_http_server]
;port=9001

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///var/run/supervisor.sock

[supervisord]
nodaemon=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/supervisord.log
logfile_maxbytes=20MB
logfile_backups=10


[program:hivemq]
user={{ hivemq_user }}
command=java {{ hivemq_java_opts }} -Xmx{{ hivemq_heap }}m -Xms{{ hivemq_heap }}m -Dhivemq.home={{ hivemq_dir }} -Dhivemq.license.folder={{ hivemq_license_dir }} -Dhivemq.log.folder={{ hivemq_log_dir }} -Dhivemq.config.folder={{ hivemq_config_dir }} -Dhivemq.plugin.folder={{ hivemq_plugin_dir }} -Dhivemq.data.folder={{ hivemq_data_dir }} -Djava.net.preferIPv4Stack=true -XX:-UseSplitVerifier -noverify {{ hivemq_security_egd }} -XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath={{ hivemq_dir }}/heap-dump.hprof -jar {{ hivemq_dir }}/bin/hivemq.jar
autostart=true
autorestart=true
redirect_stderr=true
stopwaitsecs=2
stdout_logfile={{ hivemq_log_dir }}/hivemq.log
logfile_maxbytes=20MB
logfile_backups=10


[include]
files = /etc/supervisor/conf.d/*.conf
